@import "~bootstrap/scss/bootstrap";

img {
    max-width: 100%;
}

#preview {
    // border: 1px solid black;
    min-width: 300px;
    max-width: 300px;

    min-height: 200px;
    max-height: 200px;
}

tr{
    overflow: scroll;
    text-wrap: nowrap;
}